/*p:nth-child(2n){
    color: darkgreen;
}
*/


/* p:nth-of-type(2n){
    color: darkgreen;
    background-color: red;
} */

ul li:nth-of-type(2n+1){
    color: darkgreen;
    background-color: red;
}