HTML{
    /* font-style: 10px; */
    font-size: 62.5%;
    /* 16px ----> 100% */
    /* 10 ----> 100/16*10 */
}

/* :root{
    font-size: 10px;
} */

.box1{
    font-size: 2rem;
}

.text-content{
    font-size: 3rem;
    border: 1rem solid red;
    margin: 0.5rem;
    padding: 4.5rem;
}